.container {
  width: 29.6rem;
  height: 44.9rem;
  background-color: white;
  z-index: 1;
  padding: 1.4rem;
}

.deleteIcon {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 12.3rem;
  top: 38.2rem;
  z-index: 6;
}

.taskListBox {
  
}